.gallery-container a div{
    width: 300px;
    height: 235px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    border: 5px solid #555;

}

#gall{
    flex-wrap: wrap;
    padding: 0 4px;
    display: flex; 
    align-items: center; 
    justify-content: center;
}