{% extends 'base.html' %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="container p-3 my-3 border">
    <h1>Create Music Tribe</h1>
    <form method="POST" enctype="multipart/form-data" >
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" name="Create Music Tribe">
    </form>
</div>

{% endblock %}