{% extends 'base.html' %}

{% block content %}
<h1>Music Tribes</h1>
<div><a href="{% url 'tribes' %}">Show existing Music Tribe</a></div>
{% if user.is_authenticated %}
<div>
    
    
</div>
{% endif %}
{% endblock %}