{% extends 'base.html' %}

{% block content %}

    <div class="container p-3 my-3 border">
        <h1>Login</h1>
        <form method="POST" action="">
            {% csrf_token %}
            {% if request.GET.next %}
                <input type="hidden" name="next" value="{{request.GET.next}}">
            {% endif %}
            <div>
                <label for="username">Username:</label>
                <input type="text" name="username">
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" name="password">
            </div>
            <input type="submit" name="Create User">
        </form>
    </div>
{% endblock %}