<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home' %}">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">


        {% if user.is_authenticated %}
        <li class="nav-item">
            <span><a class="nav-link" href="#"> Hello {{request.user}}</a></span>
        </li>
        <li class="nav-item">
          <span><a class="nav-link" href="{% url 'logout' %}">Logout</a></span>
        </li>
        {% else %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Join Music Tribes
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'login' %}">Login</a>
            <a class="dropdown-item" href="{% url 'register' %}">Register</a>
          </div>
        </li>
        {% endif %}
        {% if user.is_authenticated and user.is_superuser %}
        <li class="nav-item">
          <span><a class="nav-link" href="/admin"> Admin page</a></span>
        </li>
        {% endif %}
        {% if user.is_authenticated %}
        <li class="nav-item">
          <span><a class="nav-link" href="{% url 'edit_user' %}">Edit User</a></span>
        </li>
        {% endif %}
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>