{% extends 'base.html' %}
{% load static %}

{% block content %}
<h3>{{playlist.playlistName}}-{{playlist.playlist_desc}}</h3>
<h5>Playlist creator: {{playlist.creator}}</h5>
<div>Playlist created:{{playlist.time_created}}</div>

<a href="{% url 'playlist_edit' playlist.id %}">Uredite playlistu</a>

<a href="{% url 'delete_playlist' playlist.id %}">Obrisite playlistu</a>

<a href="{% url 'add_song' playlist.id %}">Dodajte pjesmu</a>
<hr>


<form action="{% url 'playlist_detail' playlist.id %}" method="POST">
    {% csrf_token %}
    <label for="sort">Choose  sort:</label>
    <select name="sort" id="sort">
        <option value="-num_likes">likes descending</option>
        <option value="num_likes">likes ascending</option>
        <option value="-time_created">time created descending</option>
        <option value="time_created">time created down ascending</option>
    </select>
    <input type="submit" value="sort">
</form>
<h3>U playlisti se nalazi:</h3>

    {% for i in songs %}
        {{i.trackArtist}}--{{i.trackTitle}}----<a href="{{i.youtube_url}}" target="_blank">Play</a>--{{i.duration}}--{{i.user_added}}--{{i.time_created}}
        {% if request.user == i.user_added or request.user == chieftain %}
            <a href="{% url 'delete_song' i.id chieftain.id %}">Obrišite pjesmu</a>
        {% endif %}
        
        {% if user.is_authenticated %}
            <form action="{% url 'like' i.id playlist.id %}" method="POST">
                {% csrf_token %}

                {% if i in likes %}
                    <button type="submit"  class="btn btn-info">Dislike</button>{{i.num_likes}}
                {% else %}
                    <button type="submit"  class="btn btn-info">Like</button>{{i.num_likes}}
                {% endif %}
            </form>
            <br>
            
            <button class="target">Show comments</button>

            <div class="comment">
                <h4>Comments:</h4>
                {% for comm in comments %}
                    {% if comm.song == i %}
                        <p>
                        {% if comm.user.profile.image %}
                            <img src="{{comm.user.profile.image.url}}" style="width: 150px; height: 100px;">
                        {% else %}
                            <img src={% static 'MusicTribes/images/default.jpg' %} style="width: 150px; height: 100px;">
                        {% endif %}
                        {{comm.date_added}}--{{comm.user}}--{{comm.text}}</p>
                    {% endif %}
                {% endfor %}
                {% if i.num_comments == 0 %}
                    <span>There are no comments, be first !</span>
                {% endif %}
                <form action="{% url 'send_comment' i.id playlist.id %}" method="post">
                    {% csrf_token %}
                    {{comment_form.as_p}}
                    <input type="submit" value="Comment">
                </form>
            </div>
        {% endif %}

    {% endfor %}

<script>
$(".comment").hide();

$(".target").click(function () {
    $(this).next('.comment').toggle();

    $(this).text($(this).text() == 'Show' ? 'Show comments' : 'Hide comments');

    });

</script>

{% endblock %}
