{% extends 'base.html' %}

{% block content %}
    <div class="container p-3 my-3 border">
        <h1>Register</h1>
        <form method="POST" action="">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" name="Create User">
        </form>
    </div>
{% endblock %}